body,ul,p{
    padding: 0;
    margin: 0;
}
body {
    /*no-repeat 不平铺 repeat-x 横轴 repeat-y 纵轴，repeat全平铺 center 居中*/
    background: url("https://www.baidu.com/img/bd_logo1.png?where=super") no-repeat 100px 200px fixed;
    background-attachment: local;
}
.header{
    background: #5fb7ec;
}

#nav {
    background: greenyellow;
}

ul{

}

[data-name="index"] a{
    font-family: '宋体',SimSun,'黑体','微软雅黑',Arial, Helvetica, sans-serif;;
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
    /*小写转化为大写，大写放大，仅仅针对英文*/
    font-variant: small-caps;
    font-weight: 900;
}

[data-name="project"] a{
    font-family: '宋体',SimSun,'黑体','微软雅黑',Arial, serif;;
}